# Токен бота из BotFather
BOT_TOKEN=

# Данные приложения созданного на my.telegram.org
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Ссылка из на cloudflare tunnel (для работы миниапп с авторизацией)
# Если использовать временную то сюда надо подставлять каждый раз новую ссылку
# Иногда временныйтоннель сам по себе может падать
# Поэтому лучше сделать постоянный тоннель
# Больше: https://developers.cloudflare.com/tunnel/
# Обязтельно в конце endpoint /auth
WEBAPP_PUBLIC_URL=https://controversy-crops-route-chef.trycloudflare.com/auth

# Хост и порт сервера
WEB_HOST=127.0.0.1
WEB_PORT=8000

# Dry runs - режим имитации функционала без, например, реальной покупки/продажи
# Использоуется чисто для диагностики, по умолчанию все DRY_RUN = false
MRKT_DRY_RUN=false
PORTALS_DRY_RUN=false
TONNEL_TRANSFER_DRY_RUN=false
MRKT_TRANSFER_DRY_RUN=false
PORTALS_TRANSFER_DRY_RUN=false

# Дополнительная диагностика в логах/БД, по умолчанию false
LIVE_VERIFY=false

# Режим работы с Tonnel Network, по умолчанию BUY_OFFER
TONNEL_TRANSFER_MODE=BUY_OFFER

# Base URL для работы с Tonnel Network, основной рабочий: https://gifts.coffin.meme
TONNEL_API_ORIGIN=https://gifts.coffin.meme

# Задержка перед принятием оффера, минимальный рабочий - 5000, но на vps можно попробовать 3-4 сек (3000-4000)
TONNEL_OFFER_ACCEPT_DELAY_MS=5000

# Задержка проверки владения подарком, по умолчанию 150000
TONNEL_OWNERSHIP_VERIFY_TIMEOUT_MS=15000

# Цена на оффер, мин рабочая для Tonnel - 2 (TON)
TONNEL_AUTO_OFFER_AMOUNT=2
PORTALS_AUTO_OFFER_AMOUNT=0.53

# Максимальное количество параллельных jobs по офферам
MAX_TONNEL_CONCURRENT_JOBS=5
MAX_PORTALS_CONCURRENT_JOBS=5

# Конфиг MRKT, не актуально
MRKT_SPECULATIVE_BUY=false
MRKT_SPECULATIVE_BUY_DELAY_MS=60
MRKT_TRANSFER_MODE=LISTED_TRIGGERED
MRKT_LISTED_TRIGGER_MAX_WAIT_MS=1000
MRKT_LISTED_TRIGGER_POLL_INTERVAL_MS=10
